<div class="container" *ngIf="!emailSent">

  <div fxLayout="row" fxLayoutAlign="center center">
    <h3>Reset Password</h3>
  </div>
  <br />
  <p class="text-align-center">
    Please fill in your email address here and you will receive an email
    <br />
    that allows you to reset your password.
  </p>
  <br />

  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="max-width: 400px">
      <form [formGroup]="formGroup" (ngSubmit)="resetPassword()"
        fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.errors?.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.errors?.email">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
        <br />
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-form-button (click)="resetPassword()">
            Send email
          </app-form-button>
        </div>
        <app-form-button class="forgetpassword" [color]="'blue'" (click)="close()">
          Close
        </app-form-button>
      </form>
    </div>
  </div>
</div>

<div class="container success" *ngIf="emailSent">
  <div>
    <h3>Password Reset Successful</h3>
    <br />
    <b>An email message has been sent containing a link to reset your password.</b>
    <br /><br />
    <a (click)="close()" class="close-btn">OK</a>
  </div>
</div>

