:host {
    display: block;
    margin-top: 30px;
}

.footer-image {
    width: 100%;
    margin-top: -20px;
}

.footer-logo {
    width: 50px;
}
.footer-logo1 {
  width: 150px;
}

.logo-link {
    cursor: pointer;
}
.image-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 45%;
  margin: auto;
}

@media (max-width: 601px) {
  .image-wrapper {
    width: 100%;
  }

  .footer-logo1 {
    width: 100px;
  }
}
