<div class="popup-container">
    <div *ngIf="!showSentMessage">
        <mat-dialog-content class="form-container" [formGroup]="form">
            <div fxLayout.xs="column"
                 fxLayout="row"
                 fxLayoutAlign.xs="center center"
                 fxLayoutAlign="start center"
                 class="no-margin-radio">
                <app-form-button [color]="'orange'"
                                 (click)="openCalendar('paid')"
                                 [padding]="false">
                    Schedule a session
                </app-form-button>
                &nbsp;&nbsp;
                <app-form-button [color]="'violet'"
                                 (click)="openCalendar('free')"
                                 *ngIf="data?.canBookFreeSession"
                                 [padding]="false">
                     Free Intake
                </app-form-button>
            </div>
            <br />
            <div>
                Perfect, you came this far, I am very much looking forward to meeting you.
            </div>
            <br />
            <br />
            <mat-form-field>
                <input matInput placeholder="From" formControlName="from" required>
                <mat-error>
                    <span *ngIf="!form.get('from').valid && form.get('from').touched">
                        There is something wrong with this email address, please check again.
                    </span>
                </mat-error>
            </mat-form-field>
            <div hidden>
                <mat-form-field>
                    <input matInput placeholder="To" formControlName="to" readonly>
                </mat-form-field>
            </div>
            <mat-form-field>
                <input matInput placeholder="Subject" formControlName="subject">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Message" formControlName="message"></textarea>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions class="buttons-container">
            <app-form-button [color]="'blue'" (click)="close()">Close</app-form-button>
            <app-form-button [color]="'orange'" (click)="sendMail()">
                Send
            </app-form-button>
        </mat-dialog-actions>
    </div>
    <div *ngIf="showSentMessage">
        <h3>Request information</h3>
        <div *ngIf="sending">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar><br><br><br>
            <span style="font-size: 16px;">
                <mat-icon color="accent">send</mat-icon> sending message in progress...
            </span>
        </div>
        <div *ngIf="!sending">
            <span style="font-size: 16px;">
                <mat-icon color="accent">check</mat-icon> Your message "{{subject}}" has been sent.
            </span><br><br>
            <app-form-button [color]="'blue'" (click)="close()">Close</app-form-button>
        </div>
    </div>
</div>
