<div fxLayout="row wrap" fxLayoutAlign="center start">
  <p>
    Succeed! has been put in the world because we believe that good personal coaching must be
    easily accessible. How do you find the coach that fits you and your outcome? And how do you
    know that they are suitable for you? Your friends often recommend someone they like very
    much; you look them up online and then do your search on the internet. You’ll find plenty of
    websites that tell why you should opt for them. This is where we want to help. Selecting your
    coach with us is easy and motivating. We want your coaching session to be something you
    look forward to every time.
    We hope we have created that for you, and we continue to make succeed! better tomorrow
    than it is today.
  </p>
  <br />
  <div>
    <div fxLayout="row" fxLayoutAlign="center start" class="jubilat jubilat-header gray">For Companies</div>
    <br />
    <p>
      Does your company support employees’ growth? Do you believe that self-sufficient happy employees bring a company
      to the next level? Then Succeed is your partner in professional and personal development of employees. Your
      account with Succeed allows employees and coaches to sign up as members of your company. This enables your
      employees to exclusively schedule with coaches that are registered to your account. Is your coach pool not
      sufficient or not yet established? No problem, we are happy to schedule a sit down with you and talk about your
      possibilities with Succeed. Please email to info@succeed.world or use the contact form, we will get in touch with
      you.
    </p>
  </div>
  <br />
  <div>
    <div fxLayout="row" fxLayoutAlign="center start" class="jubilat jubilat-header gray">Coaches</div>
    <br />
    <p>
      Succeed! is exclusively meant for accredited coaches with at least five years of experience.
      Everybody can call themselves a coach, and that is problematic. We handpick the coaches one
      by one. Their CVs are obligatorily published on their profiles—the coaches under scribe the
      values of trust, integrity, truth, and responsibility. Coaches help you achieve goals and tackle
      issues that keep you from getting where you want to be.
    </p>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="center start" class="jubilat jubilat-header gray">Privacy</div>
    <br />
    <p>
      Needless to say that professional coaches signed the duty of confidentiality. Your data are
      encrypted and exclusively used to function Succeed’s software. <a [routerLink]="['/privacy']">Read more
        here.</a>
    </p>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="center start" class="jubilat jubilat-header gray">Terms & Conditions</div>
    <div>
      <div>
        <div fxLayout="row" fxLayoutAlign="center start" class="jubilat jubilat-header">
          <app-form-button [color]="'orange'" (click)="openSendMessage()">
            Contact
          </app-form-button>
        </div>
      </div>
      <p>
        info@succeed.world +31 628272753 | De Wittenstraat 117,1052AR, Amsterdam, Netherlands
      </p>
      <p>
        Founded by Yosara Geerlings
      </p>
      <p fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="10px">
        <a class="social-link" href="https://www.facebook.com/yosaranlp" target="_blank">
          <img src="/assets/images/facebook.png" />
        </a>
        <a class="social-link" href="https://www.instagram.com/yosaranlp" target="_blank">
          <img src="/assets/images/instagram.png" />
        </a>
        <a class="social-link" href="https://twitter.com/YosaraGeerlings" target="_blank">
          <img src="/assets/images/twitter.png" />
        </a>
      </p>
    </div>
  </div>
  <div>
    <!-- <div fxLayout="row" fxLayoutAlign="center start" class="jubilat jubilat-header"> <a
        [routerLink]="['/terms-conditions']">Terms & Conditions</a></div>
    <br /> -->
  </div>

  <!-- <div>

  </div> -->
</div>