<br /><br />
<div class="header">
  <div>Privacy Policy</div>
</div>
<div class="pageC">
  <div fxLayout="row" fxLayout.xs="column">
    <div class="boxl">
      <span style="font-weight: 700; color: rgb(9, 9, 9);">
        "succeed! enables coaches and clients to speak via video-calling."
      </span>

    </div>
    <div class="boxBorder">&nbsp;</div>
    <div class="boxp">
      <div class="precontent">When you sign up with succeed! your data will solely be used to schedule and enable video-calls between users who signed up with succeed!
        <ul>
          <li><span style="color: #ff9966;">Your first name and last name are shared amongst users who signed up with succeed!</span></li>
          <li><span style="color: #ff9966;">Your email address is solely used to send you emails of the scheduled video-calls that are established via succeed!</span></li>
          <li><span style="color: #ff9966;">Succeed! has the right to remove your data and your account from our application. </span></li>
          <li><span style="color: #ff9966;">Data will never and under no circumstances be used by or sold to third parties.</span></li>
          <li><span style="color: #ff9966;">Succeed! is not responsible for the content of communication between users. However the scheduled video-calls are always meant to be coaching sessions between users.</span></li>
          <li><span style="color: #ff9966;">Succeed! has the right to remove your data and your account from our application. </span></li>
          <li><span style="color: #ff9966;">Coaches and their clients that connect via succeed! conduct all their online sessions via the succeed! application. Your account will be removed when we see that you decided to continue coaching sessions through other applications such as Zoom, Teams, and others.</span></li>
          <li><span style="color: #ff9966;">All the coaches that signed up with succeed! are certified and contracted to confidentiality and integrity regarding the coaching sessions.</span></li>
          <li><span style="color: #ff9966;">Your data are encrypted and secured.</span></li>
          <li><span style="color: #ff9966;">This privacy policy is completely separate from the privacy policy of any coach.</span></li>   
        </ul>
      </div>
    </div>
  </div>
</div>
