<app-page-header [gray]="true">Giving Back</app-page-header>

<div fxLayout="row" fxLayoutAlign="center center">
    <div class="text" fxFlex="100" fxFlex.gt-lg="60" fxFlex.gt-sm="80" fxFlex.gt-xs="90">
        <br /><br />
        <div class="jubilat jubilat-header">
            Pro-bono Coaching
        </div>
        <p class="avenir">
            For those who are not in the position to afford coaching, we
            provide pro-bono coaching. We ask you to send us a message in which you tell us
            what you would like to explore. A coach in our community will support you without
            costs.
        </p>
        <div fxLayout="row" fxLayoutAlign="start center">
            <app-form-button [color]="'orange'"
                            (click)="openSendMessage()">
            Send message
            </app-form-button>
        </div>
        <br />
        <div class="jubilat jubilat-header">
            The Amartya foundation in The Netherlands
        </div>
        <p>
            We support the Amartya Foundation, a Holland based
            organization that works with communities in Zambia to enhance access to education
            for everyone.
        </p>
        <p><a href="https://www.amartya.nl" target="_blank">www.amartya.nl</a></p>
    </div>
</div>
<br /><br /><br />
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100"
         fxFlex.gt-lg="60"
         fxFlex.gt-sm="80"
         fxFlex.gt-xs="90"
         fxLayout="column"
         fxLayout.gt-xs="row"
         fxLayoutAlign="center center"
         fxLayoutGap="5px"
         fxLayoutGap.gt-sm="15px">
        <div fxFlex="50" class="empty-image">
            <img src="/assets/images/contact_us_1.png" />
        </div>
        <div fxFlex="50">
            <div>
                The Amartya Foundation believes that the best way to
                contribute to sustainable development is by focusing on education, pride
                and ownership rather than dependency, volunteerism and aid. As Amartya
                Sen said: Poverty is not just a lack of money, it is not having the freedom to
                realize one’s full potential as a human being.
            </div>
        </div>
    </div>
</div>
<br /><br />
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100"
         fxFlex.gt-lg="60"
         fxFlex.gt-sm="80"
         fxFlex.gt-xs="90"
         fxLayout="column"
         fxLayout.gt-xs="row"
         fxLayoutAlign="center center"
         fxLayoutGap="5px"
         fxLayoutGap.gt-sm="15px">
        <div fxFlex="50" fxHide fxShow.gt-xs>
            <div>
                The Amartya Foundation provides school sponsorships
                to adults and children, because we believe that being able to go to school
                is a freedom that everybody should have, regardless of age, gender or
                socio-economic background.
            </div>
        </div>
        <div fxFlex="50" class="empty-image">
            <img src="/assets/images/contact_us_2.png" />
        </div>
        <div fxFlex="50" fxHide.gt-xs>
            <div>
                The Amartya Foundation provides school sponsorships
                to adults and children, because we believe that being able to go to school
                is a freedom that everybody should have, regardless of age, gender or
                socio-economic background.
            </div>
        </div>
    </div>
</div>
<br /><br />
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.gt-lg="60" fxFlex.gt-sm="80" fxFlex.gt-xs="90">
        <div class="jubilat jubilat-header">Contribute</div>
        <p>
            Contributing to freedom goes both ways. When you purchase
            items from Amartya, 100% of the profits is invested in enhancing children and
            adult’s education opportunities in underserved communities
        </p>
    </div>
</div>
