
.search-form {
  width: 40%;
}

.box-container {
  padding-top: 5px;
}

.app-form-control {
  width: 100%;
  padding: 0px 10px;
}

.app-form-control .mat-form-field {
  width: 100%;
}

@media (min-width: 736px) {
  .app-form-control {
    width: 16.66%;
    padding: 0px 10px;
  }
}
