<h1 class=" top jubilat jubilat-header" fxLayout="row" fxLayoutAlign="center start">
    Coach Topics
</h1>
<div class="text txtcenter" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="100%" fxFlex.gt-sm="70%">
        <p>The descriptions of coach topics help you to choose the track of all the tracks that are in front of you. Read the coach topics that filter for you the coaches that offer you that specific support. Besides that you might filter language and price
            so that you narrow down to your convenience in a couple of taps.</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.gt-sm="80" class="page-header">
        <div class="jubilat jubilat-header"></div>
        <br />
        <br />
        <!-- <div class="stripes">
            <div class="violet"></div>
            <div class="orange"></div>
            <div class="blue"></div>
        </div> -->

         <div class="row">
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Personal leadership</h4>
                                <p>Personal leadership and self-mastery are the same thing. It means that you are leading your emotions in stead of having your emotions lead you. And that kind of personal leadership results in being a stable and strong person,
                                    whatever life throws at you. Strong in the sense of being able to decide on how you think and react in any given situation. Part of the Invictus poem by William Ernest Henley is quoted a lot. Oprah Winfrey and Prince
                                    Harry seem to like the part of the poem too. “I am the master of my faith, I am the captain of my soul “ Personal leadership development and being in charge of your life, result in the life you choose. Your Succeed
                                    coach supports you by asking you questions that bring about your unique leadership style.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Professional leadership</h4>
                                <p>What professional leadership coaching can mean to you as a leader depends on your ability to accept support from a coach. Your Succeed coach asks you questions elicit answers that stem from your unconscious thinking. Your
                                    ideas and values are clear to you as a leader, but what happens when these ideas and values are not being understood by others? And there are always people that you work with who think and communicate differently. Your
                                    professional leadership coach asks you questions of which your answers enable leadership development. Enable you to lead different kinds of people. Therefore, professional leadership training is an ongoing journey,
                                    as life and work are ongoing journeys.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Handle stress</h4>
                                <p>Stress in itself is a beautiful human mechanism. Stress indicates us that action is required, we must do or stop doing something. And when that action is noticed by the brains, relaxation can set in. It might happen that
                                    relaxation does not get a chance or the space and time to set in. The brain is constantly receiving messages that something is wrong. And that is when a Succeed coach can help you. A Succeed coach helps you to find
                                    ways to think differently so that the brain receives messages that tell it relaxation can set in. To change your thinking patterns entails a lot more then sticking positive affirmations and quotes on your fridge. Deep
                                    change that sticks in the unconscious thinking will change the way you feel. Affirmations stuck on your fridge remind you of what you want, that is a good start. See coaches. <a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Handle emotions</h4>
                                <p>Emotions can feel like storms of rage or sadness. The storm takes over everything. You cannot think properly, and you do things that seem right at that moment but that you might regret afterwards. Your Succeed coach supports
                                    you in finding your way to the eye of the storm. In the eye of the storm everything is quiet, you see and hear the effect of the emotions from a place that allows you to reflect. Now you understand what happens, and
                                    you can change your thoughts that initiated the emotions in the first place. Handling your emotions by finding the eye of the storm benefits you and the people around you. You communicate in a caring and constructive
                                    way.
                                    <a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Prevent burnout</h4>
                                <p>If you are aware that you might be close to walking into a wall, you are lucky. You feel that you are tired but wonder why, you have not done so much. You go to the gym or for a run to up your physical energy. That helps
                                    a little. Things that seemed simple, now seem somewhat complicated. All this indicates that you would do yourself a favor by talking to a Succeed coach who is specialized in burnout. You prevent the real burnout from
                                    happening. Burnout literally means that you are burned out. What ever you try to do, the spark that ignites your motor to do that is gone. Preventing burnout means finding out what happens in your unconscious. It means
                                    changing your attitude and enhance awareness of your work ethics. Prevent the spark from dying out. Talking with a Succeed coach when you feel something is out of place, proves that you take responsibility in leadership.
                                    <a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Self confidence</h4>
                                <p>When you feel that you are insecure about your abilities, style, looks or whatever else, that can be healthy. Modesty is a virtue. But when this is structural and you almost always feel insecure in more than one situation,
                                    talking with a Succeed coach seems a good idea. You explore together with your coach, the patterns in thinking that influence your feeling. Self-confidence coaching means to restructure the patterns in thinking in a
                                    way that they allow your true self to come forward. When you have learned the way to stay true to yourself, your self- confidence will shine right through you. Your Succeed self-confidence life coach supports you to
                                    love who you who are and who you are yet to become. Not by telling you that you are great, but by finding the greatness in you and allow that part of you to step into the light.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Public speaking</h4>
                                <p>Coaches that specialize in public speaking work with you on many levels. Your posture, your breathing, your voice, tempo, your arms, hands, and legs, they way you feel, and of course also the way you come across. Public
                                    speaking for a large group is the same experience as when the group is smaller. A news reader or reporter is different from any other public speaker because the news they bring has nothing to do with their persona.
                                    When you share anything else but the news, you want your public to feel attracted to your message. Congruency is key for this. Your physical, emotional and mental parts must be aligned with your message. Your Succeed
                                    coach works with you on all these levels so that your message and appearance are compelling to your public.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Challenges and Outcomes</h4>
                                <p>When we are confronted with difficulties, those difficulties can be turned around in outcomes. What comes after the difficulty is the result of smart thinking and doing things. Therefor the first thing we do is think of
                                    the result that we would like to see, hear, and feel. For example, you feel that you are losing control of your eating habits. If you can imagine, what your voice sounds like when you look in the mirror and how you
                                    feel when you tell yourself you are back in the saddle, your outcome is compelling. The outcome is now to find the right attitude to follow up on the challenge. Your Succeed coach supports you in finding that attitude
                                    and unique strategy that fits your persona. Any challenge or outcome can be approached in this way. Find the right attitude, and the path to your outcome will be clear to you.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Healthy lifestyle coaching</h4>
                                <p>Why is it sometimes tricky to maintain a healthy lifestyle? And what is a healthy lifestyle? What does a heathy lifestyle coach do? The answers to the questions here are unique for every single person. Because we as humans
                                    have our very unique ways of elaborating what we register through the senses. The brain works differently for every single person. Emotions, thoughts and actions form experiences every day, every hour and every minute.
                                    This all happens so fast, that we have no idea that the experience is output of what was in the first place registered by the senses. A Succeed lifestyle coach will therefor leave certain models and strategies for what
                                    they are and will together with you explore the personal style that benefits you most. And together you find ways to you bring about that authentic healthy attitude that stems from your characteristic style.<a class="ngb-dp-weekday"
                                        [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Communication</h4>
                                <p>Our lives are happening through communication. We always communicate, even when we are quietly sitting at the back of the room. Even when you decide to stay out of certain conversations or situations, you communicate. There
                                    are plenty of books and workshops that teach effective communication. NLP is a communication system that supports direct and truthful communication. Your Succeed communication coach supports you in finding your best
                                    personal communication style. In different situations and conversation, you communicate differently, this flexibility is key to effective communication. But you want to stay true to yourself and that is exactly the
                                    purpose of communication, to stay true to yourself and bring across your message in a respectful and compelling way.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Relationships</h4>
                                <p>Relating with other people is one of the most basic yet complicated aspects of our lives. We relate with colleagues, parents, children, partners, friends etc. in different ways. Our personal or professional relationships
                                    can undermine our sense of wellness sometimes. The relationship eats at us, and we don’t know how to change it. We think that we should communicate differently, we try out different relationship tips and the relationship
                                    does not get any better. Or so it seems. Your Succeed coach looks at your relationship as an outsider. They are able to objectively evaluate the dynamics of your relationship. Therefor it is best if all parties come
                                    to the coaching sessions. When that is not possible, it will be very difficult to work at bettering your relationships. What is possible though, is that you and your Succeed coach bring about the best in you, in relation
                                    with another person. And that is also very helpful to smoothen the relationship.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Inner conflict</h4>
                                <p>One part of you says “yes” and the other part of you says “no”. Both parts are members of you as a whole person and both want the best for you as a person. Any smart rational thinking process or talk with friends or maybe
                                    your boss, seems to be in vain, the conflict is nagging at you, and you postpone decisions or actions. Status quo so to speak, the inner conflict keeps you where you are, stuck in the middle. Your Succeed coach and
                                    you together explore what is happening in the unconscious thinking. Rationally you know the pros and cons, unconsciously there is something else going on. Unconscious aspects of yourself are telling you different stories.
                                    These stories are about purpose, values, skills, preferences in different situations and so on. Once you have clear what the fuss is about in your unconscious thinking you are able to solve the conflict.<a class="ngb-dp-weekday"
                                        [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Transition</h4>
                                <p>Moving from one country to another or from one company to another requires some research of the different cultures. And this applies to many other situations. You want to blend in or stand out in the new environment, depending
                                    on your purpose or outcome. The one thing that you definitely want, is to stay true to who you are. This applies in the same way when transitioning form one gender to another. Your Succeed coach and you together explore
                                    the best possible way for you to feel that you are being authentic and at the same time blending in or standing out while you are transitioning. See coaches.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Create impact</h4>
                                <p>As leaders or teachers, we want to create impact so that the people that we lead can learn and grow. Usually, you know how to do that, it comes natural to you. But this time you find yourself in a situation where you feel
                                    that you are not touching any strings. Or maybe you are new to it and want to learn how to respectfully and authentically create impact. Your Succeed coach supports you in finding the recourses in you that you are looking
                                    for. You already have in you what it takes to create impact. You always do that anyway, whether you choose to or not. Wherever you are you impact the situation by being present. Key is to decide what kind of impact
                                    you want to create and then find in yourself the way to do that. Your Succeed coach asks you the questions, that bring about the required qualities you were not yet aware of. These qualities are ready to see daylight
                                    and develop.<a class="ngb-dp-weekday" [routerLink]="['/home']">See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Business growth</h4>
                                <p>Business growth coaching entails a lot more then creating social media strategies and funnels. Many coaches offer that kind of service, which in fact does not come near to coaching for business growth. Your Succeed coach
                                    knows your business, your product or service, your character, your purpose and your strengths and learning-points. All these ingredients are talked about so that you feel compelled and energized to work at growing your
                                    business. Together you find the best ways and actions to be taken to grow the business. Social media strategies are an important aspect in any business and need attended to. A professional can do that for you, and that
                                    professional is someone entirely different from a coach that supports you in growing your business. A professional business coach knows the ins and outs of conducting a profitable business and knows how to coach you
                                    as a person.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Mental support</h4>
                                <p>Mental support to help you with decision making, leading, delegating, achieving goals, responsibility for other people, dealing with loss, and other mental endeavors is no luxury. Mental support is as important as eating
                                    and breathing in situations where a relaxed mind is key. You might be ever so able to take on challenges, yet, talking with a Succeed coach for mental support is often a smart choice. You know when to acknowledge that
                                    a soundboard relieves and nourishes your mind.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Work-life balance</h4>
                                <p>Work sometimes takes more of our private time then we know is good for us and still we cannot seem to find the balance. There seem to be always tasks that need finished, deadlines, request, just a quick email here and a
                                    short message there. Your Succeed coach and you together explore your workload, your private time, things that relax you, and the structures of your mental and emotional states. All these aspects are structured in a
                                    way that work-life balance comes natural to you. Your physical health is always the first to pay the bill when the balance is lost. Find it back with your Succeed coach and physical energy is the first thing you will
                                    have found back.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Quit smoking</h4>
                                <p>Like any unhealthy habit, smoking started out as fun. Or as a social activity. Then it slowly changed to something rewarding or relaxing when we are nervous. And when a nice glass is poured, lighting a cigarette is often
                                    the second gesture. To change the habit takes some decision making. Why do you want to quit? What does quitting bring you? More energy, a more tasteful breath, health? And when you have achieved all of that, then what
                                    have you achieved for yourself as person? Which characteristic of you, after quitting smoking, is leading you? What is so attractive about that character that you want to give up cigarettes for? You and your Succeed
                                    coach will find answers to these questions and lots more. You will find in yourself, the happiness and satisfaction that you are now looking for in a cigarette.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Life coaching</h4>
                                <p>Life coaching online can be anything from support in dealing with hardship or looking for ways to feel good about yourself. Feeling good about yourself is key in any situation you find yourself in. Hardships overcome all
                                    of us, otherwise there would be no learning. There for the life coaching course that you might take offers great potential for personal growth. If you can feel good about yourself while going through hardship you are
                                    halfway at the other side. Your Succeed life coach supports you in finding whatever it takes inside yourself. And when no hardship is involved, your Succeed life coaching online supports you with challenges in personal
                                    growth. Learning how you can grow as a person and as a professional on a regular basis is key to living a fulfilled life.<a class="ngb-dp-weekday" [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="card border-0 shadow rounded-xs ">
                            <div class="card-body">
                                <h4 class="mt-4 mb-3">Executive coaching</h4>
                                <p>Your Succeed executive coach speaks your language. They have their degrees in business, and they are experienced in working with people in leading roles. As an executive, you speak with your coach about anything, from personal
                                    values in relation to the business to work life balance. And anything in between. Your Succeed coach is there to explore with you, how you are able to be and do what is best for you and your company. An executive coach
                                    is a person that asks you the questions that bring to surface what you unconsciously already know. Your Succeed coach supports you on every level while respecting your characteristic way of being in the world.<a class="ngb-dp-weekday"
                                        [routerLink]="['/home']"> See coaches</a></p>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
