<br />
<div class="header">
  <div>Terms & Conditions SUCCEED</div>
</div>
<div class="content">
  <div class="boxp">
    1. CONTRACTUAL RELATIONSHIP
    <div>
      These Terms of Use (“Terms”) govern the access or use by you, an individual of software (“Software”) made
      available by Succeed. PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING THE SOFTWARE. In these Terms,
      the words “including” and “include” mean “including, but not limited to.”
    </div>
    <div>
      Your access and use of the software constitutes your agreement to be bound by these Terms, which establishes a
      contractual relationship between you and Succeed If you do not agree to these Terms, you may not access or use the
      Software. These Terms expressly supersede prior agreements or arrangements with you. Succeed may immediately
      terminate these Terms with respect to you, or generally cease offering or deny access to the Software or any
      portion thereof, at any time for any reason.
    </div>
    <div>
      Supplemental terms may apply to certain Software, such as policies for a particular event, activity or promotion,
      and such supplemental terms will be disclosed to you in region-specific disclosures (e.g., a particular city
      webpage on Succeed.world) or in connection with the applicable Software(s). Supplemental terms are in addition to,
      and shall be deemed a part of, the Terms for the purposes of the applicable Software. Supplemental terms shall
      prevail over these Terms in the event of a conflict with respect to the applicable Software.
      Succeed may amend the Terms related to the Software from time to time. Amendments will
      be effective upon Suceed’s posting of such updated Terms at this location or the amended
      policies or supplemental terms on the applicable Software. Your continued access or use of
      the Software after such posting constitutes your consent to be bound by the Terms, as
      amended.
    </div>
    <br />
    <div>
      2. THE SOFTWARE
    </div>
    <div>
      The Software constitutes a technology platform that enables users of Suceed progressive
      web applications or websites provided as part of the Software (each, an “Application”) to
      directly request services from third party providers of such services, including independent
      third party providers under agreement with Succeed.world or certain of Succeed affiliates
      (“Third Party Providers”). Unless otherwise agreed by Succeed in a separate written
      agreement with you, the Services are made available solely for your coaching business
      commercial use. YOU ACKNOWLEDGE THAT SUCCED DOES NOT PROVIDE ANY COACHING
      SERVICES.
    </div>
    <div>LICENSE</div>
    <div>
      Subject to your compliance with these Terms, Succeed grants you a limited, nonexclusive,
      non-sublicensable, revocable, non-transferrable license to: (i) access and use the
      Applications on your personal device solely in connection with your use of the Software;
      and (ii) access and use any content, information and related materials that may be made
      available through the Software, in each case solely for coaching business commercial use.
    </div>
    <div>RESTRICTIONS</div>
    <div>
      You may not: (i) remove any copyright, trademark or other proprietary notices from any
      portion of the Software; (ii) reproduce, modify, prepare derivative works based upon,
      distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit,
      stream, broadcast or otherwise exploit the Software except as expressly permitted by
      Succeed (iii) decompile, reverse engineer or disassemble the Software except as may be
      permitted by applicable law; (iv) link to, mirror or frame any portion of the Software; (v)
      cause or launch any programs or scripts for the purpose of scraping, indexing, surveying, or
      otherwise data mining any portion of the Software or unduly burdening or hindering the
      operation and/or functionality of any aspect of the Software; or (vi) attempt to gain
      unauthorized access to or impair any aspect of the Software or its related systems or
      networks.
    </div>
    <div>THIRD PARTY SERVICES AND CONTENT</div>
    <div>
      The Software may be made available or accessed in connection with third party services and
      content (including advertising) that Succeed does not control. You acknowledge that
      different terms of use and privacy policies may apply to your use of such third party services
      and content. Succeed does not endorse such third party services and content and in no
      event shall Succeed be responsible or liable for any products or services of such third party
      providers. Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited
      will be a third-party beneficiary to this contract if you access the Software using
      Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberrypowered
      mobile devices, respectively. These third party beneficiaries are not parties to this contract
      and are not responsible for the provision or support of the Software in any manner. Your
      access to the Software using these devices is subject to terms set forth in the applicable
      third party beneficiary’s terms of service.
    </div>
    <div>OWNERSHIP</div>
    <div>
      The Software and all rights therein are and shall remain Succeed property. Neither these
      Terms nor your use of the Software convey or grant to you any rights: (i) in or related to the
      Software except for the limited license granted above; or (ii) to use or reference in any
      manner Succeed company names, logos, product and service names, trademarks or services
      marks or those of Succeed licensors. </div>
    <br />
    <div>3. YOUR USE OF THE SOFTWARE</div>
    <div>USER ACCOUNTS</div>
    <div>
      In order to use most aspects of the Softwaare, you must register for and maintain an active
      personal user account (“Account”). You must be at least 18 years of age, or the age of legal
      majority in your jurisdiction (if different than 18), to obtain an Account. Account registration
      requires you to submit to Succeed certain personal information, such as your name,
      address, mobile phone number and age, as well as at least one valid payment method
      (either a credit card or accepted payment partner). You agree to maintain accurate,
      complete, and up-to-date information in your Account. Your failure to maintain accurate,
      complete, and up-to-date Account information, including having an invalid or expired
      payment method on file, may result in your inability to access and use the Software or
      Succeed’s termination of this Agreement with you. You are responsible for all activity that
      occurs under your Account, and you agree to maintain the security and secrecy of your
      Account username and password at all times.</div>
    <div>USER REQUIREMENTS AND CONDUCT</div>
    <div>
      The Service is not available for use by persons under the age of 18. You may not authorize
      third parties to use your Account, and you may not allow persons under the age of 18 to
      receive coaching or training services from Third Party Providers unless they are
      accompanied by you. You may not assign or otherwise transfer your Account to any other
      person or entity. You agree to comply with all applicable laws when using the Software, and
      you may only use the Software for lawful purposes. You will not in your use of the Software
      to cause nuisance, annoyance, inconvenience, or property damage, whether to the Third
      Party Provider or any other party. In certain instances you may be asked to provide proof of
      identity to access or use the Software, and you agree that you may be denied access to or
      use of the Software if you refuse to provide proof of identity.
    </div>
    <div>TEXT MESSAGING</div>
    <div>
      By creating an Account, you agree that the Succeed may send you informational text (SMS)
      messages as part of the normal business operation of your use of the Software. You
      acknowledge that opting out of receiving text (SMS) messages may impact your use of the
      Software. </div>
    <div>
      <br>
    </div>
  </div>
</div>
