<div color="primary" class="wwabgImg">
    <div style="text-align: center; ">
      <span style="font-weight: 300; color: rgb(255,255,255,1); font-size: 6vh;">JOBS</span>
    </div>
</div>
<div xLayout="row wrap" fxLayout.xs="column">

  <div class="description" fxFlex="70" style="padding-left: 30px; padding-top: 20px">
     <div class="header"> PARTNER AS 3DHOMES PRODUCT OWNER
    </div>
    <div class="precontent">HOW TO BECOME PRODUCT OWNER WITH 3DHOMES</div>
    <div class="content">Send your motivational letter to: info@3dhomes.app
        <br>You'll be entirely responsible for your product, we 'll guide and support you. 
      <br> <br>
      Requirements: <br>
      <ul>
        <li>a fun character</li>
        <li>communication skills</li>
        <li>a car</li>
      </ul>

      3DHomes provides:<br>
      <ul>
          <li>software</li>
          <li>hardware</li>
          <li>training & support</li>
        </ul>
      </div>
    
  </div>
  <div fxFlex="30" style="padding-right: 30px; padding-top: 20px">
    <img class="image-who" src="./assets/images/woman-working-laptop-computer.jpg">
  </div>
</div>

